*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- Android ---
android/.gradle/
android/.idea/
android/.kotlin/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.cxx/
*.apk
*.aab
*.keystore
*.jks